body {
  background: linear-gradient(135deg, #1d1d2f, #1f1f3a, #212d50);
}
#Main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    row-gap: 25px;
    
}
#Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.outerCard{
    margin: 5%;
    text-align: center;
    border: 3px solid ;
    padding-bottom: 10px;
    color: whitesmoke;
    box-shadow: 0 10px 40px rgba(209, 196, 196, 0.5);
    background: linear-gradient(to top, rgba(33, 3, 65, 0.8), transparent);
     animation: float 6s ease-in-out infinite alternate;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}
.cards{
    height: 90%;
    width: 100%;
}
.content{
    display: none;
}
.topImg{
    height: 200px;
    width: 325px;
    border: 2px solid rgb(91, 37, 41);
    border-radius: 2px;
    box-shadow: 0 5px 20px rgba(68, 45, 45, 0.5);;
}
.outerCard:hover{
    background: linear-gradient(135deg, #f7971e, #ffd200);
    border-radius: 5%;
    text-align: center;
    color: #631c1c;
}
.outerCard:hover .content{
    display: block;
}
.outerCard:hover .cards{
    display: none;
}

.outerCard {
  position: relative;
  overflow: hidden;
}

.outerCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.6),
    transparent
  );

  transform: skewX(-20deg);

  opacity: 0;
}

.outerCard:hover::before {
  opacity: 1;
  animation: shine 8s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }

  20% {
    left: 150%;
  }

  100% {
    left: 150%;
  }
}
